@model Model.EF.User
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="~/Assets/client/css/cs_flex.css">
    <link rel="stylesheet" href="~/Assets/client/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Assets/client/images/fontawesome/css/all.css">
</head>
<body>
    <div class="bg-contact2 flex-row center middle"
         style="background-image: url('../../Assets/client/images/bg-2.jpg');height:100vh">
        <div class="flex-column middle center">
            @using (Html.BeginForm("Create", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal" style="width:500px;margin: 0 auto">
                <h4 style="color: #fff">Register</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-icon">
                    <div>
                        @Html.TextBoxFor(model => model.UserName, new { placeholder = "User name", required = true })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        <span class="fas fa-user login-form-icon"></span>
                    </div>
                </div>
                <div class="form-icon">
                    <div class="">
                        @Html.PasswordFor(model => model.Password, new { placeholder = "Password", required = true })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <span class="fas fa-lock login-form-icon"></span>
                    </div>
                </div>
                <div class="form-icon" hidden>
                    <div class="">
                        @Html.PasswordFor(model => model.Role, new { placeholder = "Password", required = true, value = "MEMBER" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <span class="fas fa-lock login-form-icon"></span>
                    </div>
                </div>
                <div class="form-icon">
                    <div class="">
                        @Html.TextBoxFor(model => model.Name, new { placeholder = "Name",
                       pattern = @".{2,50}[a-z]",
                       title = "First and last name cannot contain numbers, special characters. Length from 2-50 characters.",
                       required = "required"
                   })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        <span class="fas fa-user-edit login-form-icon"></span>
                    </div>
                </div>
                <div class="form-icon">
                    <div class="">
                        @Html.TextBoxFor(model => model.Email, new { type = "email",
                       placeholder = "Email",
                       pattern = @"[a-z][a-z0-9_\.]{1,32}@[a-z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}",
                       title = "Please enter the correct format",
                       required = "required"
                   })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        <span class="fas fa-envelope login-form-icon"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit"
                           value="Register"
                           class="btn btn-primary" />
                </div>
            </div>
            }
            <div class="flex-row semi-bold">
                <a href="/Home/Index" style="color: #fff">Back to home</a>
            </div>
        </div>
    </div>


</body>
</html>


