@model Model.EF.Question

@{
    ViewBag.Title = "Create New Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var session = Session[eProject3.Common.CommonConstants.USER_SESSION];
}

@if (session != null)
            {
                int userId = Convert.ToInt32(((UserLogin)session).UserId);
            
            

using (Html.BeginForm("NewQuestion", "Question", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal" style="width:50%; margin: 0 auto;">
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" style="padding: 15px">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
        <div class="">
            @Html.TextBoxFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="padding: 15px">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label" })
        <div class="">
            @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group flex-row" style="padding-left: 15px">
        @Html.LabelFor(model => model.Anonymous, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-1">
            @Html.CheckBoxFor(model => model.Anonymous, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Anonymous, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" hidden>

        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Views, new { @Value = 0 }))
        </div>

        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Likes, new { @Value = 0 }))
        </div>
    </div>

    <div class="form-group" hidden>

        <div class="col-md-10">
            @Html.TextBox("DateCreated", DateTime.Today, new { @readonly = "readonly", @style = "border: none;" })
        </div>
    </div>
    <div class="form-group" hidden>

        <div class="col-md-10">
            @Html.TextBoxFor(model => model.UserID, new { @Value = userId }))
        </div>
    </div>

    <div class="form-group" style="margin: 15px">
        <div>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}
}