@model Model.EF.Contact
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact V2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Assets/client/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/Assets/client/images/fontawesome/css/all.css">
    <link href="~/Assets/client/css/animate.css" rel="stylesheet" />
    <link href="~/Assets/client/css/main.css" rel="stylesheet" />
    <link href="~/Assets/client/css/util.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("SendContact","Home",FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="bg-contact2"
             style="background-image: url('../../Assets/client/images/bg-2.jpg');margin:20px 0">
            <div class="container-contact2">
                <div class="wrap-contact2">
                    <form class="contact2-form validate-form" action="mailto:chinh12hy@gmail.com" method="post">
                        <span class="contact2-form-title">
                            Contact Us
                        </span>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="wrap-input2 validate-input" data-validate="Name is required">
                            @Html.TextBoxFor(model => model.Name, new {
                           @class = "input2",
                           @autufocus = "autoforcus",
                           required = "required",
                           minlenght = "3"
                       })
                            <span class="focus-input2" data-placeholder="NAME"></span>
                        </div>

                        <div class="wrap-input2 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                            @Html.TextBoxFor(model => model.Email, new { @class = "input2",
                           pattern = @"[a-z][a-z0-9_\.]{1,32}@[a-z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}",
                           title = "Please enter the correct format",
                           required = "required", })
                            <span class="focus-input2" data-placeholder="EMAIL"></span>
                        </div>

                        <div class="wrap-input2 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "input2",
                           pattern = @"^-?[0-9][0-9,\.]+$",
                           title = "Please just enter only type number",
                           required = "required", })
                            <span class="focus-input2" data-placeholder="PHONE"></span>
                        </div>
                        
                        <div class="wrap-input2 validate-input" data-validate="Message is required">
                            @Html.TextAreaFor(model => model.Message, new { @class = "input2",
                           required = "required", })
                            <span class="focus-input2" data-placeholder="MESSAGE"></span>
                        </div>
                        <div class="container-contact2-form-btn">
                            <div class="wrap-contact2-form-btn">
                                <div class="contact2-form-bgbtn"></div>
                                <button class="contact2-form-btn">
                                    Send Your Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Assets/client/js/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

</body>
</html>
