@model IEnumerable<Model.EF.User>

@{
    ViewBag.Title = "Doctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background: #fff">
    @using (Html.BeginForm("Doctor", "Home", FormMethod.Post))
    {
    <div class="flex-row my-md-2" style="width:500px; margin-left: auto">
        @Html.TextBox("searchDoctor") <br />
        <input type="submit" value="Search" class="btn btn-primary" style="width:100px"/>
    </div>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hospital)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Images)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>
            </tr>
        }

    </table>

</div>